body{font-family: arial}
h1{background-color:#395490;color:yellow}
* {box-sizing: border-box;}
#week1{box-sizing: border-box;background-color:yellow}
#week3{box-sizing: border-box;background-color:yellow}
